.todo-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.list-item {
  font-size: 18px;
  font-family: 'Roboto';
  flex-grow: 1;
  margin-right: 25px;
}
.button {
  color: #ff0b37;
  border: 1px solid #ff0b37;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 6px;
  margin-right: 20px;
}
